@font-face {
    font-family: "utm-avo";
    src: url("/fonts/UTM Avo.ttf?acd8c5d47db864e9bd0f0d481e01a27e");
}
@font-face {
    font-family: "utm-avo-bold";
    src: url("/fonts/UTM AvoBold.ttf?4325c2f915d76dd4255374d18769c113");
}
@font-face {
    font-family: "utm-avo-italic";
    src: url("/fonts/UTM AvoItalic.ttf?c28354fd8cf42fb7e4f0317d8b83413c");
}
@font-face {
    font-family: "utm-avo-bold-italic";
    src: url("/fonts/UTM AvoBold_Italic.ttf?8f0472e30f23c816ee363b49af62327d");
}
body{
    font-family: utm-avo;
    font-size: 16px;
    background-color: #fff;
    min-width: 1366px;
    overflow-x: hidden;
}
#layout-wrapper{
    min-height: 60vh;
}

.btn-xemthem{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    border: 0;
    background-color: #ff3d00;
    color: #fff;
    transition: 0.2s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-xemthem:hover{
    color: #ff3d00;
    background-color: #fff;
    border: 1px solid #ff3d00;
    transition: 0.2s all;
}
.custom-footer{
    background-color: #1b1f29;
    height: 200px;
}
.topbar{
    height: 60px;
    background-color: #ff3d00;
    color: #fff;
}
.topbar-wrapper{
    height: 60px;
}
.fixed-top{
    top: 60px;
}
.fixed-top.is-sticky{
    top: 0;
}
.block-title{
    font-size: 20px;
    position: relative;
    padding-bottom: 15px;
}
.block-title:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ff3d00;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0 auto;
}
.block-title span{

}
.cms-item{
    padding: 15px;
    border: 1px solid #000;
    border-radius: 30px;
    position: relative;
    padding-right: 60px;
}
.cms-item .title{
    font-size: 18px;
}
.btn-more-pos{
    position: absolute;
    right: 20px;
    top: 15px;
}
.btn-more{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.btn-more:before{
    content: "+";
    position: absolute;
    left: 1px;
    right: 0;
    top: -3px;
    text-align: center;
}
.cms-item.active .btn-more:before{
    content: "-";
}
.cms-item .content{
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}
.cms-item.active .content{
    position: relative;
    opacity: 1;
}
.cms-item:hover .btn-more{
    border-color: #ff3d00;
    transition: all 0.3s;
}
.cms-item:hover .btn-more:before{
    color:  #ff3d00;
}
#player{
    height: 480px;
}
.media-item{
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #acacac;
}
.media-item:hover{
    background-color: #fdf3f0;
}
.media-item.media_selected{
    background-color: #fdf3f0;
}
.media-item + .media-item{
    border-top: 0;
}
.media-item__icon{
    width: 62px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.media-item__icon:before{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background: url(/images/media_icon.png?cbb1cf232ff0e4437993e7fcfc7b4f46);
}
.media-item__info{
    width: calc(100% - 230px);
    height: 90px;
    display: flex;
    align-items: center;
}
.media-item__info .title{
    color: #1b1f29;
    font-size: 18px;
}
.media-item__info .description{
    padding-right: 30px;
}
.media-item__download{
    width: 110px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.media-item__delete{
    width: 60px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist{
    max-height: 450px;
    overflow: auto;
}
.playing{
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: #242b30;
    color: #fff;
}
.playing__film{

}
.media-search{
    background-color: #ff8c0d;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
}
.media-search__title{
    text-transform: uppercase;
    text-align: center;
}
.media-search__title > span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: #fff;
}
.media-search__title > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.media-search__type > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-right: 40px;
    margin-top: 30px;
}
.media-search__type > ul > li{

    color: #1b1f29;
    font-size: 16px;
}
.media-search__type > ul > li + span:before {
    display: block;
    content: "|";
    margin: 0 8px;
}
.media-search__type > ul > li > a{
    color: #1b1f29;
}
.media-search__type > ul > li > a.active, .media-search__type > ul > li > a:hover{
    text-decoration: underline!important;
}
.media-search__content{
    padding: 18px 30px;
}
.media-form{
    margin-bottom: 25px;
}
.media-form input, .media-form select{
    height: 40px;
}
#media_type{
    width: 200px;
}
.media-search_btn {
    border: 0;
    padding: 10px 30px;
    background-color: #ff3900;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 4px 2px 7px 1px #bd6e18;
}
.index-creator .modal-dialog .modal-content{
    background-color: #434f53;
}

.index-menu .nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.index-menu .nav-item + span{

}

.index-menu .nav-item .nav-link.active, .index-menu .nav-item .nav-link:focus, .index-menu .nav-item .nav-link:hover {
    color: #3ab3ed!important;
}
#nav-bar{
    background-color: #f8f9f8;
}

.index-creator .modal-dialog .modal-content{
    background-color: #434f53;
    border:none;
}

.index-creator .media-search{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #434f53;
}
.index-creator .media-search__title{
    text-transform: uppercase;
    text-align: center;
}
.index-creator .media-search__title > span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: #fff;
}
.index-creator .media-search__title > span:after {
    background-color: #ff3d00;
}
.index-creator .media-search__type > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.index-creator .media-search__type > ul > li > a{
    color: #fff;
    font-size: 20px;
}

.index-creator .media-search__type > ul > li + span:before {
    display: block;
    content: "|";
    margin: 0 15px;
    color: #fff;
    font-size: 20px;
}

.media-search__type > ul > li.selected{
    text-decoration: underline;
}
.media-search__content{
    padding: 18px 30px;
}
.media-form{
    margin-bottom: 20px;
}
.media-search_btn {
    border: 0;
    padding: 10px 30px;
    background-color: #ff3900;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 4px 2px 7px 1px #bd6e18;
}
.index-creator .label{
    color: #9cb9d1;
    font-size: 16px;
}
.media_type{
    width: 200px;
}
.index-creator .media-search_btn{
    width: 152px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px #816b54;
}

/*
Index Login Section
*/

#index-login{
    background: url(/images/login-audio.jpg?4fc0f4b98c2ff068c31f471a4031ef25);
    background-size: cover;
    height: 100vh;
}
#index-login .form-control{
    height: 45px;
    border-radius: 30px;
    font-size: 16px;
    color: #dfdfdf;
    padding-left: 30px;
    color: #000;
}
#index-login label{
    font-size: 20px;
    margin-bottom: 15px;
}

#index-login .btn-submit{
    font-size: 16px;
    border-radius: 30px;
    height: 45px;
}
.home-link-white{
    color: #fff;
}
.home-link-white:hover{
    color: #ff3c3c;
}
.topbar-address:before{
    content: url(/images/icon_home.png?8ebdad31e9e9cd06aa51cbb76ec6d6a1);
    position: relative;
    top: 3px;
}
.topbar-email:before{
    content: url(/images/icon_email.png?a3f19cc4aa05c8a65d0055347e171721);
    position: relative;
    top: 3px;
}
.topbar-left > div{
    padding-left: 55px;
    position: relative;
}
.topbar-left > div:before{
    content: url(/images/logo_top.png?1fec318ffeea14236654cef01143550f);
    position: absolute;;
    left: 0;
}
.copy-rights:before{
    content: url(/images/logo_footer.png?e216e1c792ec4d6757dddca6f5732529);
    position: absolute;
    left: 0;
}
.copy-rights{
    padding-left: 55px;
    position: relative;
}

.user_panel_name:before{
    content: url(/assets/images/user-icon.png?2d4ae286f2c0c9ee7e78a5fffa4a04ec);
    position: absolute;
    right: 0;
    top: -9px;
}
.user_panel_name{
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}
.user_panel_name:hover .username{
    color: #f00
}
.media-item__icon:hover{
    cursor: pointer;
}
.broadcast_date + .broadcast_date:before{
    content: "|";
}
.broadcast_date.active{
    color: #31bdff;
}
.media-item__delete{
    cursor: pointer;
}
.nav-item{
    cursor: pointer;
}
.nav-link.active{
    color: #ff3d00;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
.text-right{
    text-align: right;
}
.xemchitiet a{
    font-weight: bold;
    color: #000;
}
.xemchitiet a:hover{
    color: #df0000;
}
.cms-detail{
    min-height: 50vh;
}

.navbar-landing .navbar-nav .nav-item .nav-link{
    color: #fff;
}
#navbar{
    background: #242b30;
    color: #fff;
}
.btn-taomoi{
    background-color: #ff3d00;
    color: #fff;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.panel-danhsachphat{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background: #eee;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: center;
    position:relative;
}
.panel-danhsachphat .title{
    font-weight: 600;
    font-size: 18px;
    background: url("/assets/images/Playlist-icon.png") left center no-repeat;
    padding-left: 40px;
    background-size: 27px 22px;
}
.panel-danhsachphat .title:before{
    top: 0;
    background: url("/assets/images/Playlist-icon.png");
    width: 33px;
    height: 36px;
    /* position:absolute; */
    /* left: -400px; */
}
.header-item{
    height: 55px!important;
}
.btn-taomoi{

}
.btn-taomoi:after{
    content: "+";
    font-weight: 900;
    font-size: 19px;
    margin-left: 5px;
}
.title-link-status{
    font-size: 20px;
    font-weight: 600;
    color: #ff3d00;
}